@media only screen and (max-width: 800px) {
    .sumir {
        display: none;
    }
    .mobile-txt {
        text-align: center;
    }
    .mobile-items {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile-banner {
        margin-left: 2rem;
        width: 200px;
    }
    #projects {
        margin-top: 30rem;
        background-color: var(--material-d);
        height: 60rem;

    }
    .footer-a {
        margin-top: 20rem;
    
    }
    #introduction {
        height: 60rem;
    }
    #linktree {
        margin-bottom: -15rem;
        height: 25rem;
    }
    #tools {
        margin-top: 5rem;
    }

}