nav {
    font-family: "Jersey 15", serif;
}
#nav-a {
    background-color: rgba(22, 25, 44, 0.348);
    backdrop-filter: blur(10px);
    a {
        font-size: 1.2rem;
        color: var(--txt-a);
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: 0.3s;
        img {
            margin-left: .5rem;
            width: 20px;
        }
    }
    a:hover {
        border-bottom: 1px solid var(--txt-a);
    }
    .logo {
        color: var(--txt-a);
        transition: 0.3s;
        font-size: 1.3rem;
        img {
            width: 40px;
            transition: 0.3s;
            transform: rotate(-20deg);
        }
    
    }
    .logo:hover {
        img {
            transform: rotate(10deg);
        }
    }
}
#nav-b {
    backdrop-filter: blur(10px);
    color: white;
    .nav-btn {
        font-size: 1.2rem;
        color: var(--txt-a);
        font-family: "Jersey 15", serif;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: 0.3s;
    }
    .nav-btn:hover {
        border-bottom: 1px solid white;
    }
    .logo {
        color: var(--txt-a);
        font-size: 1.7rem;
        transition: 0.3s;
        img {
            width: 40px;
            transition: 0.3s;
            transform: rotate(-20deg);
        }

    }
    .logo:hover {
        img {
            transform: rotate(10deg);
        }
    
    }
    .bg-02 {
        background-color: #131314a2;
    }
    .bg-01 {
        background-color: rgba(10, 10, 11, 0.526);
    }
    input {
        text-align: center;
        border: 1px solid var(--stroke-a);
        color: var(--text-b);
        border-radius: 1rem;
        padding: .5rem .2rem;
        background-color: var(--material-a);
    }
}
#nav-c {
    color: white;

    .nav-btn {
        font-size: 1.2rem;
        color: var(--txt-a);
        font-family: "Jersey 15", serif;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        transition: 0.3s;
    }
    .nav-btn:hover {
        border-bottom: 1px solid white;
    }
    .logo {
        color: var(--txt-a);
        font-size: 1.7rem;
        transition: 0.3s;
        img {
            width: 40px;
            transition: 0.3s;
            transform: rotate(-20deg);
        }

    }
    .logo:hover {
        img {
            transform: rotate(10deg);
        }
    
    }
    .bg-02 {
        background-color: #131314a2;
    }
    .bg-01 {
        background-color: rgba(10, 10, 11, 0.526);
    }
    input {
        text-align: center;
        border: 1px solid var(--stroke-a);
        color: var(--text-b);
        border-radius: 1rem;
        padding: .5rem .2rem;
        background-color: var(--material-a);
    }
    nav {
        border: 1px solid var(--stroke-f);
        background-color: var(--material-f);
    }
}

