#introduction {
    h1 {
        font-weight: 700;
    }
    h1 div {
        display: inline-block;
        overflow: hidden;
        height: 3.5rem;
        width: min-content;
        vertical-align: bottom;
        span {
            color: var(--txt-glow);
            display: block;
            animation: slideup 6s infinite
        }
    
    }
    .banner {
        margin-top: -6rem;
        width: 340px;
        animation: rolling 10s infinite ;
    }
    .glass-bg  {
        border-radius: 1rem;
        background-color: var(--glass-a); 
    }

}
#stripe-pixel {
  margin-top: 2rem;
  margin-bottom: 10rem;
}
#introduction-pixel {

  h1 {
      font-weight: 700;
  }
  img {
    border: 2px solid var(--stroke-b);
  }
  h1 div {
      display: inline-block;
      overflow: hidden;
      height: 3.5rem;
      width: min-content;
      vertical-align: bottom;
      span {
          color: var(--txt-c);
          display: block;
          animation: slideup 6s infinite
      }
  
  }
  .banner {
      margin-top: -6rem;
      width: 340px;
      animation: rolling 10s infinite ;
  }
  .glass-bg  {
      border-radius: 1rem;
      background-color: var(--glass-a); 
  }

}
#guide {
    padding-top: 5rem;
    height: 500px;
    h1 {
        font-weight: 700;
    }
    .banner {

        margin-top: -2rem;
        width: 340px;
        animation: rolling 10s infinite ;
    }
}
#study {
    h3 {
        font-weight: 700;
    }
}
#tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    margin-top: -10rem;
    h3 {
        font-weight: 700;
    }
    .tool-container {
        height: 600px;
    }
}
#projects {

.card {
    position: relative;
    width: 450px;
    aspect-ratio: 16/9;
    background-color: var(--glass-a);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    img {
        margin-left: 1rem;
        height: 90%;
        width: 100%;
        border-radius: 1rem;
        object-fit: cover;
    }
  }
  
  .card__image {
    width: 100%;
    height: 100%;
  }
  
  .card:hover {
    transform: scale(1.05);
    img {
      filter: blur(2px);
    }
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--glass-c);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--txt-a);
    font-weight: 700;
  }

  .card__description {
    margin: 1rem 0 1rem;
    font-size: 1rem;
    color: var(--txt-c);
    line-height: 1.4;
  }
  
  .card__button {
    padding: 0.8rem 2rem;
    border-radius: .5rem;

    color: var(--txt-c);
    transition: .4s;
  }
  
  .card__button:hover {
    background-color: var(--stroke-b);
    color: var(--btn-hilight);
  }
  
      
      
      
}
#profile {
  border-radius: 1rem;
  padding: 1rem;
}